$colorBtn: #FA4A0C;
$colorBtnHover: #bd3f11;
$textColorPrimary: #252B42;
$textColorWhite: #FFFFFF;
$textColorSecondary: #737373;
$textColorBlack: #000000;
$textColorOrange: #FA4A0C;
$colorBg: #FAFAFA;

