@import "variables";

// /*Ipad ngang(1024 x 768)*/
// @media screen and (max-width: 1024px){

// }
// /*Ipad dọc(768 x 1024)*/
// @media screen and (max-width: 768px){

// }
// /*Tablet nhỏ(480 x 640)*/
// @media screen and (max-width: 480px){

// }
// /*Iphone(480 x 640)*/
@mixin nav-link-css {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: $textColorBlack;
  cursor: pointer;
  text-transform: capitalize;
  transition: 0.3s;
  &:hover {
    color: $textColorOrange;
  }
}
@mixin layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar{
  position: relative;
  .navbar-main {
    @include layout();
    padding: 1rem 0;
    .navbar-logo {
      width: 104px;
      height: 52px;
      margin-left: 7%;
    }
    .navbar-desktop {
      display: none;
    }
    .navbar-mobile {
      margin-right: 2rem;
      color: #737373;
      opacity: 0.6;
      font-size: 2rem;
      cursor: pointer;
    }
  }
  .active{
    display: block !important;
  }
  .sub-menu {
    text-align: left;
    background-color: $colorBg;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    height: 11rem;
    .sub-menu__container{
      list-style-type: none;
      padding-left: 0;
      li{
        padding: .5rem 1rem;
      }
      .navbar-link {
        @include nav-link-css();
        
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar{
    .navbar-main {
      @include layout();
      padding: 1rem 0;
      .navbar-logo {
        width: 206px;
        height: 102px;
        margin-left: 5rem;
      }
      .navbar-desktop {
        width: 50%;
        display: flex;
        justify-content: space-around;
        .navbar-link {
          @include nav-link-css();
        }
      }
      .navbar-mobile {
        display: none;
      }
    }
    .sub-menu {
      display: none !important;
    }
  }
}
